<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/conversation.png') }}"
      type="image/x-icon"
    />
    <title>Home</title>
  </head>
  <body class="bg-primary text-light">
    <div class="container">
      <header class="d-flex justify-content-center py-2">
        <ul class="nav h4">
          <li class="nav-item">
            <a href="/" class="nav-link text-light active">Home</a>
          </li>
          <li class="nav-item">
            <a href="/chat" class="nav-link text-light">Chat APP</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link text-light">Login</a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link text-light">Register</a>
          </li>
        </ul>
      </header>
    </div>
    <div class="container welcome-container d-flex flex-column"></div>
      <h1 class="mt-5 h5" style="text-align: justify">
        Welcome to our real-time chat application! <br />
        We are delighted to welcome you to our secure and interactive communication platform.
        Here, you can engage with other users in real-time, create your own chat rooms, and share ideas with others. Before you begin, please register and log in for full access to our application.
        Our security measures include password hashing to ensure the safety of your account. During registration, we check for any collisions in usernames, allowing you to choose a unique identity.
        Our real-time chatting enables communication with other users without the need to refresh the entire page.
        You can create chat rooms accessible to all users or specific groups. To grant you full access to our features, our REST API is available only to authenticated users. <br />
        You can utilize the following GET endpoints:
        <ul style="text-align: left">
          <li>Retrieve all messages from all chat rooms.</li>
          <li>Display all messages from a selected user.</li>
          <li>Access all messages from a specific chat room.</li>
          <li>Search for all messages containing a chosen word (case insensitive).</li>
        </ul>
        Thank you for being with us, and we look forward to your active participation in our chat community!
      </h1>
      <h3>Firstly you have to create account in Register tab or login in Login tab by your account.</h3>
    </div>
  </body>
</html>
